<html>
  <head>
    <meta charset="utf-8">
    <title>Navegación</title>
  </head>
<body>
<p>Respuesta de la API de Microsoft</p>
<p>  <%= respuesta %> </p>  <!-- Usamos las variables de ejs que definimos en el proceso main y que existen en este contexto -->
<div id="nameDiv"> </div>
<a href="../index.html">Regresar</a>
<script src="../rendererProcess/index.js"></script>
</div>
</body>
</html>
