<html>
  <head>
    <meta charset="utf-8">
    <title>Navegación</title>
  </head>
  <body>
<div id="navc">
 <p>Soy la página C</p>
 <form name="ipcForm" onSubmit="send(event)">   <!--Sin embargo, al mandar el formulario, lo mandamos al proceso principal -->
            Nombre:<br>
            <input type="text" name="name" id="nombre">
            <br>
            <input type="submit" value="Submit">
        </form>
 <div id ="main-div"></div>
  <a href="../index.html">Regresar</a>
  <script src="../rendererProcess/index.js"></script>
 </div>
</body>
</html>
