<html>
  <head>
    <meta charset="utf-8">
    <title>Navegación</title>
  </head>
<body>
<p>Soy la página d</p>
<p>  <%= nombre %> </p>
<div id="nameDiv"> </div>
<a href="../index.html">Regresar</a>
<script src="../rendererProcess/index.js"></script>
</div>
</body>
</html>
